<div class="chamber-header-frame">
	<div class="chamber-header">
		<a href="https://www.uschamberfoundation.org">
			<img src="/res/USChamberFoundation-Logo.svg" alt="U.S. Chamber of Commerce Foundation Logo" width="320"/>
		</a>
	</div>	
</div>

<div class="header-frame">
	<header>

		<!-- logo -->
		<div class="siteblock">
			<h1>
				<a href="https://www.uschamberfoundation.org/t3-innovation"><img src="/res/Black T3-Inno-Network-01-K100.png" width="400" alt="T3 Innovation Network Logo"/></a>
			</h1>
			<h2>
				<a href="/">Open Competency Framework Collaborative (OCF Collab)</a><br /><small><em>. . . A Network in the T3 Network of Networks</em></small>
			</h2>
		</div>
	</header>
</div> <!-- header-frame -->
