# redirects & content negotiation to get conecpt URIs to resolve
# Added 2022-12-20
# Phil Barker phil.barker@pjjk.co.uk


# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType text/turtle  .ttl
AddType application/json .jsonld

<ifModule mod_rewrite.c>
	# Rewrite engine setup
	RewriteEngine On

	# make sure we don't have the file or a directory index to serve
	# the rest fails to redirect if we do
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule .* - [L]

  # Rewrite rule to make sure we serve the turtle content when requested
  # capture GUID patterns and make them fragment ids of ttl file
	RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
	RewriteCond %{HTTP_ACCEPT} application/rdf\+turtle [OR]
	RewriteCond %{HTTP_ACCEPT} application/turtle
    RewriteRule concepts/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$)$ https://www.ocf-collab.org/concepts/CFModels.ttl#$1 [R=303,L]

</ifModule>

